
/* RESET */



/* BODY */

/*body {
    height: 100%;
    background: linear-gradient(to bottom right, #fff, #fff);
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
	color:#777;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
    display: flex;
}*/

p{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(153, 153, 153);
}

#lineChart{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.jumbotron{
    background-color: #fff;

}

h1{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color:#000;
    font-weight: 600 !important;

}

.btn{
    background-color: #a6192e;
    border-radius: 10px;
    border-width: 0px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin-left: 0px;
    padding: 12px;
    text-align: center;
    min-width: 90px;
    white-space: nowrap;
}

